@import '@/styles/theme.scss';

.ReservationDrawerCloseIcon {
  position: absolute;
  top: 10%;
  right: 5%;
}

.ReservationDrawerTitle {
  padding-top: 56px;
  color: $black !important;
  text-align: center !important;
  font-size: 24px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: 32px !important; /* 133.333% */
}

.ReservationDrawerDescription {
  padding-top: 16px;
  color: $black !important;
  text-align: center !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 20px !important; /* 142.857% */
}

.ReservationDrawerCard {
  border-radius: 8px;
  background-color: $gray100;
  padding: 12px 16px;
  > .ReservationCardTitle {
    color: var(--Gray-Gray-bk, #000);
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 141.176% */
  }
  > .ReservationCardInfoWrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
    > .ReservationCardInfoLeftValue {
      color: $gray700;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
    }
    > .ReservationCardInfoRightValue {
      color: $gray700;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 20px; /* 142.857% */
      > span {
        color: $primary;
      }
    }
  }
}

.ReservationDrawerConfrimButton {
  padding: 17px;
}

