@import '@/styles/theme.scss';

.HeaderTitleWrapper {
  display: grid;
  align-items: center;
  color: $gray700;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  > .HeaderTitle {
    display: flex;
    align-items: center;
  }

  > .HeaderSubLabel {
    justify-self: end;
  }
}
